livekit-agents
livekit-plugins-google
livekit-plugins-openai
livekit-plugins-silero
sarvamai
python-dotenv
moss
qdrant-client
sentence-transformers
pydantic
aiohttp
sqlalchemy
asyncpg
alembic
fastapi
pyjwt
uvicorn
